body{
    background: #7476de
}

#banner{
width:100%;
}

h1{
    color:rgb(255, 105, 180);
    text-align: center;
    
}

p {
    text-align: center;
    font-size: 24px;
}

#missao {
    font-size:30px;
}

em strong{
color:rgb(245, 255, 250);
}