body{
    background: #d4d4f0
}

#banner{
   width:100%;
}

.Principal{
    background: #e9e9f9;
}

h1{
    color:rgba(51, 3, 27, 0.983);
    text-align: center;
    
}

p {
    text-align: center;
    font-size: 24px;
}

#missao {
    font-size:30px;
}

em strong{
color:rgb(11, 7, 48);
}

.itens{
    font-style: italic;
}

.Benefícios{
    background:#e6e6f5 ;
}

h2{
    text-align: center;
}

#beneficios{
    width: 100%;
}